DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=

DB_NAME=
DB_USER=
DB_PASSWORD=SuperSecretPassword
DB_HOST=
DB_PORT
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUST_CERT=yes

# Si es true, solo usuarios con correo verificado pueden iniciar sesion.
SIG_REQUIRE_EMAIL_VERIFICATION=false
SIG_REQUIRE_OTP_EVERY_LOGIN=true
SIG_OTP_CODE_LENGTH=6
SIG_OTP_EXPIRATION_MINUTES=10
SIG_OTP_MAX_ATTEMPTS=5
SIG_EXPOSE_DEBUG_OTP=false
SIG_USE_GRAPH_EMAIL=true
SIG_MAIL_SENDER=usuario@dominio.com

# SMTP transaccional
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
DEFAULT_FROM_EMAIL=no-
SIG_SITE_NAME=SIG
