DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=SIG
DB_USER=sa
DB_PASSWORD=SuperSecretPassword
DB_HOST=localhost
DB_PORT=1433
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUST_CERT=yes

# Si es true, solo usuarios con correo verificado pueden iniciar sesion.
SIG_REQUIRE_EMAIL_VERIFICATION=false
SIG_REQUIRE_OTP_EVERY_LOGIN=true
SIG_OTP_CODE_LENGTH=6
SIG_OTP_EXPIRATION_MINUTES=10
SIG_OTP_MAX_ATTEMPTS=5
SIG_EXPOSE_DEBUG_OTP=false
SIG_USE_GRAPH_EMAIL=true
SIG_MAIL_SENDER=usuario@dominio.com

# SMTP transaccional
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.office365.com
EMAIL_PORT=587
EMAIL_HOST_USER=usuario@dominio.com
EMAIL_HOST_PASSWORD=change_me
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
DEFAULT_FROM_EMAIL=no-reply@dominio.com
SIG_SITE_NAME=SIG
